html
  head
    title MedCris | Home
    link(rel="stylesheet", href="main.css")
  body
    nav
      div.navContainer
        span(style="font-size:28; font-weight: 300;") Med
          span(style="font-weight: 800;") Cris
          span +
    div.mainImage